@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Condensed";
    text-align: center;
    margin: 0 auto;
}

body {
    margin: 0;
    height: 100dvh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: silver;
    background-image: linear-gradient(45deg, white, #ffffff80 120%);
}

.container {
    flex-grow: 1;
    width: calc(100% - 60px);
    max-width: 500px;
    padding-top: 60px;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

.picture,
.picture__image {
    max-width: 450px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    --button-size: 40px;

    width: var(--button-size);
    height: var(--button-size);
    background-color: transparent;
    border: 0;
    border-radius: calc(var(--button-size) / 2);
    cursor: pointer;
    transition: 300ms ease;
}

.button:hover {
    background-color: #0001;
}

.button:active {
    background-color: #0002;
    transition: none;
}

.button__item {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    --icon-size: 20px;
    --icon-color: #202020;
}

.button__item--play {
    --icon-size: 15px;
}

.button__item svg {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    transform: scale(1);
    opacity: 1;
    transition: 300ms ease;

    min-width: var(--icon-size);
    min-height: var(--icon-size);
    max-width: var(--icon-size);
    max-height: var(--icon-size);
}

.button__item[data-hidden="true"] svg {
    opacity: 0;
    transform: scale(0);
}

.button__item path {
    fill: var(--icon-color);
}

.volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: relative;
}

.volume__input {
    display: block;
    width: 100%;
}

.volume__label {
    font-size: 0.8rem;
    position: absolute;
    transform: translateY(110%);
}

.dev {
    position: relative;
    margin-top: 20px;
    line-height: 1.6;
}

.dev a {
    text-decoration: none;
}

.dev a:hover {
    text-decoration: underline;
}

.text {
    text-align: var(--align);
}

.text--center {
    --align: center;
}