@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed";
}

