@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes error {
    from {
        --icon-color: red;
        border: 1px solid rgba(red, 0.3);
        color: red;
    }
}

@keyframes deploy-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes deploy-down-windows {
    from {
        transform: scaleY(0.9);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

.fade-in {
    animation: 300ms ease fade-in forwards;
}

.deploy-down {
    animation: 300ms deploy-down ease forwards 1;
}

.fade-in-delay {
    animation: 300ms ease fade-in 50ms forwards;
    opacity: 0;
}