@use "./vars" as *;
.color {
    color: var(--text-color);
    &--orange {
        --text-color: orange;
    }
    &--orangered {
        --text-color: orangered;
    }
    &--base-color {
        --text-color: #{$base-color};
    }
}

// Colores en los botones:
.button {
    --border-color: transparent;

    &--list {
        --fore-color: black;
        --border-color: silver;
        --icon-color: var(--fore-color);
    }
}