@use "sass:color";
@use "./utils" as *;
@use "./vars" as *;

.hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.header {

    &--home {
        @include background-color(1, white);
        padding: 0;
        // border-bottom: 0;
    }

    &__inner {

        &--home {
            transition: 300ms ease padding;
            padding: 12px 0;

            @media screen and (max-width: $media-max-width) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    &__title {

        &--home {
            --icon-height: 40px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--background);
        height: 40px;

        &--home {
            @include background-color(1);
        }
    }

    &__menu {

        @media screen and (max-width: 980px) {
            display: none;
        }
    }
}

.live {
    display: flex;
    align-items: center;
    gap: 7px;

    &__title {
        margin: 0;

        font: {
            size: 1.2rem;
        }

        text-transform: uppercase;
    }
}

.container {

    &__nav {
        --icon-color: var(--text-color);

        background: var(--background);
        color: var(--text-color);
        position: relative;
        height: 40px;
        display: flex;
        justify-content: space-between;

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: $max-width;
            margin: 0 auto;
            flex-grow: 1;
            transition: 300ms ease padding;

            @media screen and (max-width: $media-max-width) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &--home {
            --text-color: white;
            @include background-color();
        }
    }

    &__hero {
        background-color: var(--background);

        min-height: 260px;
        @include background-color(0.8);
        background-image: linear-gradient(45deg, get-color(0.9), transparent);
    }
}

.menu {

    &--home {
        display: flex;
        padding-left: 0;
        margin: 0;
        height: auto;
    }

    &__item {

        &--home {
            display: flex;
            position: relative;

            &:not(:first-of-type) {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    height: 70%;
                    border-left: 1px solid rgba(black, 0.4);
                    pointer-events: none;
                }
            }

        }
    }

    &__link {

        &--home {
            display: flex;
            padding: 0 10px;
            opacity: 1;
        }
    }
}

.footer {

    &--home {
        @include background-color();
        --text-color: white;
        position: relative;
        display: block;
        padding: 0;
    }

    &__inner {

        &--home {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 20px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__item {
        border: 1px solid rgba(white, 0.1);
        flex-grow: 1;
        padding: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
    }

    &__author {
        max-width: $max-width;
        flex-grow: 1;
    }

    &__info {
        background-color: rgba(white, 0.03);
        padding: 5px 15px;
        border-top: 1px solid rgba(white, 0.05);
        display: flex;
        justify-content: center;
    }
}

.section {
    @include border-color(0.4);

    &--news {
        padding: 0;
        display: flex;

        font: {
            family: "Roboto Condensed", "Raleway", sans-serif, arial;
        }
    }

    &__inner {

        &--news {
            padding: 0;
            flex-grow: 1;
            display: flex;
            width: 100%;
        }

        &--article {
            --padding: 40px;

            padding-top: var(--padding);
            padding-bottom: var(--padding);
            flex-grow: 1;
        }
    }

    &__title {

        &--news {
            border-bottom: 1px solid var(--border-color);
            padding-bottom: 5px;
            flex-grow: 1;

            @media screen and (max-width: 980px) {
                margin-bottom: 30px;
            }
        }
    }
}

.news {
    display: flex;
    flex-grow: 1;

    &__column {
        @include border-color(0.3);
        position: relative;
        background-color: var(--background);
        padding: 20px;

        &--content {
            flex-grow: 1;
        }

        &--sidebar {
            --width: 450px;

            border-left: 1px solid var(--border-color);
            min-width: var(--width);
            max-width: var(--width);

            @media screen and (max-width: 890px) {
                --width: 100%;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;

        &-column {
            flex-grow: 1;
            background-color: var(--background);

            &--content {
                padding-right: 10px;

            }

            &--sidebar {
                @include background-color(0.3);

                min-width: 50%;
                aspect-ratio: 16/9;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                position: relative;

                @media screen and (max-width: 980px) {
                    width: 100%;
                }
            }
        }

        & {
            @media screen and (max-width: 980px) {
                flex-direction: column-reverse;
            }
        }
    }

    &__recents {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        margin-top: 20px;

        &-header {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            aspect-ratio: 4/3;
            background-color: rgba(black, 0.9);
            color: white;
        }

        &-item {
            min-height: 50px;
            border-radius: 5px;
            overflow: hidden;
        }

        &-content {
            padding-top: 15px;
        }

        &-title {
            margin-top: -4px;
            margin-bottom: 7px;

            font: {
                size: 1.1rem;
            }
        }

        & {
            width: 100%;

            @media screen and (max-width: 550px) {
                grid-template-columns: 1fr;
            }
        }
    }

    &__articles {
        display: grid;
        gap: 30px;

        @media screen and (min-width: 550px) and (max-width: 890px) {
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        }

        @media screen and (max-width: 549px) {
            grid-template-columns: 1fr;
        }
    }

    &__article {
        display: flex;
        flex-grow: 1;

        &-sidebar {
            background-color: rgba(black, 0.8);
            color: white;
            padding: 20px;
            border-radius: 5px;
            min-width: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 4/3;
        }

        &-title {
            margin: 0;

            font: {
                size: 1.1rem;
            }
        }

        &-content {
            padding-left: 10px;
        }

        &-resume {

            font: {
                size: 0.9rem;
            }
        }
    }

    & {
        @media screen and (max-width: 890px) {
            flex-direction: column;
            width: 100%;
        }
    }
}

.tendencies {
    margin-top: 40px;
}

.trend {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;

    &__item {
        border-radius: 5px;
        overflow: hidden;

        &-header {
            aspect-ratio: 4/3;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: rgba(black, 0.8);
            color: white;
            border-radius: 5px;
        }

        &-label {
            font: {
                size: 0.9rem;
            }
        }

        &-title {
            margin-top: -5px;
            margin-bottom: 0;

            font: {
                size: 1.1rem;
            }
        }

        &-resume {
            margin-top: 7px;

            font: {
                size: 0.97rem;
            }
        }
    }
}

.programming {
    position: relative;
    margin: 0;
    min-height: 100px;
    margin-top: 40px;
    overflow: auto;
    width: 100%;
}

.about {
    column-count: 2;
    column-gap: 2rem;
    margin-top: 40px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    font: {
        size: 17px;
    }

    @media screen and (max-width: 570px) {
        column-count: 1;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 1px solid var(--border-color);
    }
}

.contact {
    @include border-color(0.3, $station-color-02);
    min-height: 100px;
    display: flex;

    &,
    &__column--maps {
        display: flex;
    }

    &__column {
        align-items: center;
        position: relative;
        overflow: hidden;
        min-height: 250px;
        border-top: 1px solid var(--border-color);

        &--maps {
            flex-grow: 3;

            iframe {
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
            }

            & {
                @media screen and (max-width: 880px) {
                    flex-grow: 1;
                }
            }
        }

        &--form {
            min-width: 400px;
            flex-grow: 1;
            border-left: 1px solid var(--border-color);
            padding: 30px;

            font: {
                family: "Roboto Condensed", "Roboto", "Raleway", sans-serif, arial;
                weight: 400;
            }

            & {
                @media screen and (max-width: 880px) {
                    min-width: unset;
                    border-left: 0;
                    padding: 30px 15px;
                }
            }
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 15px;
    }

    & {
        @media screen and (max-width: 880px) {
            flex-direction: column-reverse;
        }
    }
}