@use "sass:color";
@use "./utils" as *;
@use "./vars" as *;

.hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.header {

    &--home {
        @include background-color(1, white);
        padding: 0;
        // border-bottom: 0;
    }

    &__logo {
        --icon-height: 40px;
        transition: 300ms ease;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 1;
            transition: none;
        }

        @media screen and (max-width: 980px) {
            display: none;
        }

        svg {
            display: block;
            margin: 0;
        }
    }

    &__inner {

        &--home {
            transition: 300ms ease padding;
            padding: 12px 0;

            @media screen and (max-width: $media-max-width) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    &__title {

        &--home {
            --icon-height: 40px;

            @media screen and (max-width: 980px) {
                display: none;
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--background);
        height: 40px;

        &--home {
            @include background-color(1);
        }
    }

    &__menu {

        @media screen and (max-width: 750px) {
            display: none;
        }
    }
}

.live {
    display: flex;
    align-items: center;
    gap: 7px;

    &__title {
        margin: 0;

        font: {
            size: 1.2rem;
        }

        text-transform: uppercase;

        @media screen and (max-width: 400px) {
            font: {
                size: 0.8rem;
            }
        }
    }
}

.container {

    &__nav {
        --icon-color: var(--text-color);

        background: var(--background);
        color: var(--text-color);
        position: relative;
        height: 40px;
        display: flex;
        justify-content: space-between;

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: $max-width;
            margin: 0 auto;
            flex-grow: 1;
            transition: 300ms ease padding;

            @media screen and (max-width: $media-max-width) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &--home {
            --text-color: white;
            @include background-color();
        }
    }

    &__hero {
        background-color: var(--background);
        position: relative;

        @include background-color(0.8);
        background-image: linear-gradient(45deg, get-color(0.9), transparent);
        display: flex;
        align-items: center;
        justify-content: center;

        picture,
        img,
        svg {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            max-width: $max-width;
            width: 100%;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            z-index: 1;
            background-color: rgba(black, 0.5);
            background-image: linear-gradient(45deg, black 20%, transparent, black);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            max-width: $max-width;
            z-index: 2;
            pointer-events: 1;

            @media screen and (min-width: 2000px) {
                border-left: 1px solid rgba(white, 0.1);
                border-right: 1px solid rgba(white, 0.1);
            }
        }

        &-info {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            z-index: 1;
            overflow: hidden;

            svg,
            picture,
            img {
                display: block;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: calc(100% - 40px) !important;
                width: calc(100% - 50px);
                min-width: unset !important;
                min-height: unset !important;
                max-height: unset !important;
                max-width: unset !important;
            }
        }

        &-column {
            position: relative;
            flex-grow: 1;
            display: flex;
            height: 100%;
            overflow: hidden;
            align-items: center;
            justify-content: center;

            &--right {
                @media screen and (max-width: 700px) {
                    display: none;
                }
            }
        }
    }
}

.menu {

    &--home {
        display: flex;
        padding-left: 0;
        margin: 0;
        height: auto;
    }

    &__item {

        &--home {
            display: flex;
            position: relative;

            &:not(:first-of-type) {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    height: 70%;
                    border-left: 1px solid rgba(black, 0.4);
                    pointer-events: none;
                }
            }

        }

        &--mobile {
            @include border-color(0.05);

            &:not(:first-of-type) {
                border-top: 1px solid var(--border-color);
            }
        }
    }

    &__link {

        &--home {
            display: flex;
            padding: 0 10px;
            opacity: 1;
        }

        &--mobile {
            padding-top: 4px;
            padding-bottom: 4px;
            color: black;
            opacity: 1;
            transition: 300ms ease;

            &:hover {
                background-color: rgba(black, 0.05);
                transition: none;
            }

            &:active {
                background-color: transparent;
            }
        }
    }
}

.footer {
    --icon-size: 17px;
    --icon-width: var(--icon-size);
    --icon-height: var(--icon-size);

    background-image: linear-gradient(45deg, rgba(white, 0.03), transparent);

    font: {
        family: "Raleway", "Roboto", "Open Sans", sans-serif, arial;
    }

    &--home {
        --text-color: white;
        @include background-color();

        position: relative;
        display: block;
        padding: 0;
    }

    &__inner {

        &--home {
            padding-top: 40px;

            font: {
                family: "Roboto Condensed", "Roboto", "Raleway", "Open Sans", sans-serif, arial;
            }
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 10px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;

        max-width: 1200px;
        margin: 0 auto;
    }

    &__item {
        flex-grow: 1;
        padding: 15px;
        transition: 300ms ease background-color;

        display: flex;
        justify-content: center;
        min-height: 100px;
        border-radius: 5px;

        &--logo {
            --icon-height: 100px;
            display: flex;

            &>div {
                flex-grow: 1;
            }

            svg {
                margin: 0 auto;

                & {
                    max-width: unset !important;
                    min-width: unset !important;
                    max-height: unset !important;
                    max-height: unset !important;
                    width: 100%;
                    height: auto !important;
                }
            }
        }

        &:hover {
            transition: none;
            background-color: rgba(white, 0.02);
        }
    }

    &__author {
        max-width: $max-width;
        flex-grow: 1;
    }

    &__info {
        background-color: rgba(white, 0.03);
        padding: 5px 15px;
        border-top: 1px solid rgba(white, 0.05);
        display: flex;
        justify-content: center;
    }

    &__title {
        margin-top: 0;
        display: flex;
        align-items: center;
        gap: 5px;
        border-bottom: 1px solid rgba(white, 0.04);
        padding-bottom: 4px;

        &--menu {
            margin-bottom: 0;

            font: {
                size: 1rem;

            }
        }
    }

    &__copyright {
        margin-bottom: 0;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;

        font: {
            size: 0.8rem;
            family: get-font("raleway");
            weight: 500;
        }

        &-info {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                &:not(:first-of-type) {
                    border-left: 1px solid rgba(white, 0.3);
                    padding-left: 5px;
                }
            }
        }
    }
}

.section {
    @include border-color(0.4);

    &--news {
        padding: 0;
        display: flex;

        font: {
            family: "Roboto Condensed", "Raleway", sans-serif, arial;
        }
    }

    &__inner {

        &--news {
            padding: 0;
            flex-grow: 1;
            display: flex;
            width: 100%;
        }

        &--article {
            --padding: 40px;

            padding-top: var(--padding);
            padding-bottom: var(--padding);
            flex-grow: 1;
        }
    }

    &__title {

        &--news {
            border-bottom: 1px solid var(--border-color);
            padding-bottom: 5px;
            flex-grow: 1;

            @media screen and (max-width: 980px) {
                margin-bottom: 30px;
            }
        }
    }
}

.news {
    display: flex;
    flex-grow: 1;

    &__column {
        @include border-color(0.3);
        position: relative;
        background-color: var(--background);
        padding: 20px;

        &--content {
            flex-grow: 1;
        }

        &--sidebar {
            --width: 450px;

            border-left: 1px solid var(--border-color);
            min-width: var(--width);
            max-width: var(--width);

            @media screen and (max-width: 890px) {
                --width: 100%;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;

        &-column {
            flex-grow: 1;
            background-color: var(--background);

            &--content {
                padding-right: 10px;

            }

            &--sidebar {
                @include background-color(0.3);

                min-width: 50%;
                aspect-ratio: 16/9;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                position: relative;

                @media screen and (max-width: 980px) {
                    width: 100%;
                }
            }
        }

        & {
            @media screen and (max-width: 980px) {
                flex-direction: column-reverse;
            }
        }
    }

    &__recents {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        margin-top: 20px;

        &-header {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            aspect-ratio: 4/3;
            background-color: rgba(black, 0.9);
            color: white;
        }

        &-item {
            min-height: 50px;
            border-radius: 5px;
            overflow: hidden;
        }

        &-content {
            padding-top: 15px;
        }

        &-title {
            margin-top: -4px;
            margin-bottom: 7px;

            font: {
                size: 1.1rem;
            }
        }

        & {
            width: 100%;

            @media screen and (max-width: 550px) {
                grid-template-columns: 1fr;
            }
        }
    }

    &__articles {
        display: grid;
        gap: 30px;
        position: sticky;
        top: calc(var(--header-height) + 10px);

        @media screen and (min-width: 550px) and (max-width: 890px) {
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        }

        @media screen and (max-width: 549px) {
            grid-template-columns: 1fr;
        }
    }

    &__article {
        display: flex;
        flex-grow: 1;

        &-sidebar {
            background-color: rgba(black, 0.8);
            color: white;
            padding: 20px;
            border-radius: 5px;
            min-width: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 4/3;
        }

        &-title {
            margin: 0;

            font: {
                size: 1.1rem;
            }
        }

        &-content {
            padding-left: 10px;
        }

        &-resume {

            font: {
                size: 0.9rem;
            }
        }
    }

    & {
        @media screen and (max-width: 890px) {
            flex-direction: column;
            width: 100%;
        }
    }
}

.tendencies {
    margin-top: 40px;
}

.trend {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;

    &__item {
        border-radius: 5px;
        overflow: hidden;

        &-header {
            aspect-ratio: 4/3;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: rgba(black, 0.8);
            color: white;
            border-radius: 5px;
        }

        &-label {
            font: {
                size: 0.9rem;
            }
        }

        &-title {
            margin-top: -5px;
            margin-bottom: 0;

            font: {
                size: 1.1rem;
            }
        }

        &-resume {
            margin-top: 7px;

            font: {
                size: 0.97rem;
            }
        }
    }
}

.programming {
    position: relative;
    margin: 0;
    min-height: 250px;
    margin-top: 40px;
    overflow: auto;
    width: 100%;
    overflow: auto;
}

.about {
    column-count: 2;
    column-gap: 2rem;
    margin-top: 40px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    font: {
        size: 17px;
    }

    @media screen and (max-width: 570px) {
        column-count: 1;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 1px solid var(--border-color);
    }
}

.contact {
    @include border-color(0.3, $station-color-02);
    min-height: 100px;
    display: flex;

    &,
    &__column--maps {
        display: flex;
    }

    &__column {
        align-items: center;
        position: relative;
        overflow: hidden;
        min-height: 250px;
        border-top: 1px solid var(--border-color);

        &--maps {
            flex-grow: 3;

            iframe {
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
            }

            & {
                @media screen and (max-width: 880px) {
                    flex-grow: 1;
                }
            }
        }

        &--form {
            min-width: 400px;
            flex-grow: 1;
            border-left: 1px solid var(--border-color);
            padding: 30px;

            font: {
                family: "Roboto Condensed", "Roboto", "Raleway", sans-serif, arial;
                weight: 400;
            }

            & {
                @media screen and (max-width: 880px) {
                    min-width: unset;
                    border-left: 0;
                    padding: 30px 15px;
                }
            }
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 15px;
    }

    & {
        @media screen and (max-width: 880px) {
            flex-direction: column-reverse;
        }
    }
}

.social-media {
    --icon-size: 17px;
    --icon-width: var(--icon-size);
    --icon-height: var(--icon-size);

    list-style: none;
    padding-left: 0;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33px, 1fr));

    &__item {
        display: flex;
        aspect-ratio: 1/1;
        margin: 0;
        padding: 0;
    }

    &__link {
        display: flex;
        border: 1px solid transparent;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        transition: 300ms ease;
        border-radius: 5px;

        &:hover {
            border-color: rgba(green, 0.3);
            transition: none;
        }
    }
}

.social-label {
    margin-bottom: 0;

    font: {
        weight: 400;
    }

    color: $station-color-02;
}

.window {

    &-container {
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: var(--header-height);
        bottom: 0;
        z-index: 100000;
        background-color: rgba(black, 0.8);
        animation: 300ms fadeIn forwards;
        overflow: auto;

        @media screen and (min-width: 751px) {
            display: none;
        }

        @media screen and (max-width: 500px) {
            background-color: white;
        }
    }

    & {
        @include border-color(0.5);
        background-color: white;
        position: relative;
        min-height: 100px;
        animation: 300ms ease 30ms deploy-down-windows forwards;
        transform-origin: left top;
        max-width: 500px;
        opacity: 0;

        @media screen and (min-width: 500px) {
            border-radius: 0 0 10px 0;
        }
    }
}

.grow {
    padding: 0;

    &__title {
        margin: 0;
        padding-bottom: 5px;

        font: {
            size: 1rem;
            family: "Roboto", "Raleway", "Open Sans", arial;
        }

        border-bottom: 1px solid var(--border-color);
    }

    &__logo {
        --icon-height: 80px;

        margin: 0;
        position: relative;
        display: flex;

        svg {
            transition: 300ms ease;
            display: flex;
            justify-content: flex-start;
            width: 120px;
            margin: 0;
            padding: 0;
        }
    }

    &--mobile {
        --icon-color: #{rgba(black, 0.8)};
        padding-left: 20px;
        padding-right: 20px;
    }
}

.mobile {
    @media screen and (min-width: 751px) {
        display: none;
    }
}

.links {
    flex-grow: 1;

    &__title {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 4px;
        border-bottom: 1px solid rgba(white, 0.06);
        padding-bottom: 4px;

        font: {
            size: 1rem;
            family: "Roboto Condensed" "Roboto", "Raleway", "Open Sans", sans-serif, arial;
        }
    }

}

.link {
    margin: 0;
    list-style: none;
    padding-left: 0;
    padding-top: 10px;

    font: {
        family: "Raleway";
        weight: 500;
        size: 0.9rem;
    }

    &__item,
    &__link {
        display: flex;
    }

    &__item {

        &:not(:first-of-type) {
            border-top: 1px solid rgba(white, 0.04);
        }
    }

    &__link {
        height: 35px;
        color: inherit;
        padding-left: 15px;
        transition: 400ms ease;
        flex-grow: 1;
        align-items: center;
        border-radius: 5px;
        gap: 5px;
        align-items: center;

        & {
            --icon-size: 15px;
            --icon-width: var(--icon-size);
            --icon-height: var(--icon-size);
        }

        &:hover {
            transition: none;
            background-color: rgba(white, 0.03);
        }

        &:active {
            background-color: transparent;
        }
    }
}

.informations {
    --icon-size: 14px;
    --icon-width: var(--icon-size);
    --icon-height: var(--icon-size);

    position: relative;
    margin-top: 30px;

    &__title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(white, 0.05);
        margin: 0;

        font: {
            size: 1rem;
        }

        svg {
            width: unset !important;
            margin: 0;
            display: flex;
        }
    }
}

.info {
    --icon-size: 16px;
    --icon-width: var(--icon-size);
    --icon-height: var(--icon-size);

    list-style: none;
    padding-left: 0;
    margin: 0;

    font: {
        family: get-font("Raleway");
        size: 0.95rem;
        weight: 500;
    }

    svg {
        min-width: var(--icon-width) !important;
        min-height: var(--icon-height) !important;
        max-width: var(--icon-width) !important;
        max-height: var(--icon-height) !important;
        margin: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 5px;
        min-height: 35px;
        padding-left: 15px;

        &:not(:first-of-type) {
            border-top: 1px solid rgba(white, 0.05);
        }
    }
}