@use "sass:color";
@use "./vars" as *;
main {
    height: 100vh;
    overflow: auto;
}

hr {
    border: 0;
    border-bottom: 1px solid rgba(white, 0.1);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.form {
    position: relative;
    &--install {
        padding: 20px;
    }
}

.notification {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(black, 0.1);
    z-index: 30;
    pointer-events: none;
    overflow: auto;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    @media screen and (max-height: 600px) {
        align-items: flex-start;
    }
    &__inner {
        --border-color: silver;
        background-color: $secondary-color;
        border-radius: 15px;
        max-width: 450px;
        width: 100%;
        pointer-events: all;
        animation: 300ms ease fade-in forwards;
        overflow: auto;
        border: 1px solid var(--border-color);
        line-height: 1.7;
        display: flex;
        flex-direction: column;
        border-bottom-width: 7px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 2px 2px 0 2px rgba(white, 0.1);
        font: {
            size: 0.98rem;
            weight: 400
        }
        @media screen and (max-width: 500px) {
            border-radius: 10px 10px 5px 5px;
            max-width: unset;
        }
        &--error {
            --border-color: rgba(255, 0, 0, 0.829);
            box-shadow: 2px 2px 0 2px rgba(red, 0.1);
        }
        &--success {
            --border-color: rgba(0, 204, 0, 0.7);
            box-shadow: 2px 2px 0 2px rgba(#0c0, 0.1);
        }
        &--warning {
            --border-color: rgba(255, 255, 0, 0.959);
            box-shadow: 2px 2px 0 2px rgba(#ff0, 0.1);
        }
        &--info {
            --border-color: rgba(3, 165, 214, 0.884);
            box-shadow: 2px 2px 0 2px rgba(3, 165, 214, 0.1);
        }
    }
    &__content {
        position: relative;
        padding: 20px 30px;
        overflow: auto;
        width: 100%;
        flex-grow: 1;
        text-align: center;
    }
    &__footer {
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 13px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.p {
    &-width {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &-center {
        text-align: center;
    }
    &-color {
        color: rgba(white, 0.7);
    }
}