@use "sass:color";
@use "./vars" as *;

.menu {
    list-style: none;
    padding-left: 0;

    font: {
        family: "Raleway", "Roboto", "Open Sans", sans-serif, arial;
        weight: 500;
        size: 0.9rem;
    }

    &__item {
        margin: 0;
        display: flex;

        &:not(:first-of-type) {
            border-top: 1px solid rgba(white, 0.04);
        }
    }

    &__link {
        color: inherit;
        transition: 300ms ease;
        display: flex;
        height: 35px;
        align-items: center;
        flex-grow: 1;

        &:hover {
            opacity: 1;
        }

        &:active {
            transition: none;
            opacity: 0.7;
        }

        span {
            user-select: none;
            pointer-events: none;
        }

        svg {
            transform: unset !important;
        }

        & {
            --icon-size: 15px;
            --icon-width: var(--icon-size);
            --icon-height: var(--icon-size);
            --icon-color: black;

            gap: 5px;
            align-items: center;
        }

        &--footer {
            padding: 5px 15px;

            &:hover {
                transition: none;
                background-color: rgba(white, 0.02);
            }
        }

        &--mobile {
            padding-left: 10px;
        }
    }

    &--footer {
        display: block;
        width: 100%;
        margin: 0;

    }
}