@use "sass:color";
@use "./vars" as *;
@use "./utils" as *;

.header {
    background-color: var(--background);
    color: var(--text-color);
    border-bottom: 1px solid rgba(black, 0.1);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 20;

    &__inner {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: $max-width;

        &--dashboard {
            max-width: unset;
            width: $width;
        }
    }

    &__title {
        --icon-size: 20px;
        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);
        --icon-color: #{$text-color};
        margin: 0;
        color: var(--icon-color);
        display: flex;
        align-items: center;
        gap: 5px;

        font: {
            size: 1.2rem;
        }

        @media screen and (max-width: 750px) {
            display: none;
        }
    }

    &__buttons {
        display: flex;
    }

    // MODIFICADORES
    &--dashboard {
        border-bottom: 0;
        background-color: unset;
        padding: 13px 0;
        min-height: 65px;
    }

    &--nav {
        border-radius: 0;

        &:not(:first-of-type) {
            border-left: 1px solid var(--border-color);
        }
    }

    & {
        @media screen and (max-width: 750px) {
            border-bottom: 1px solid var(--border-color);
            min-height: 40px;
        }
    }

    &__options {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    --icon-color: var(--text-color);
    color: var(--text-color);
    background-color: var(--background);

    padding: 10px;
    position: sticky;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
    min-height: 47px;
    display: flex;
    justify-content: center;

    &::before {
        content: "";
        display: block;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
    }

    &__inner {
        max-width: $max-width;
        margin: 0 auto;
        padding: 5px;
        width: 100%;

        &--dashboard {
            max-width: unset;
        }
    }

    &__author {
        display: flex;
        justify-content: flex-end;
        text-align: right;

        @media screen and (max-width: 800px) {
            justify-content: center;
            text-align: center;
        }

        @media screen and (max-width: 400px) {
            flex-direction: column;
            align-items: center;
        }

        & {
            font: {
                size: 0.8rem;
            }
        }
    }

    &__link {
        color: inherit;
        opacity: 0.5;
        transition: 300ms ease;
        --icon-size: 15px;
        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: 5px;

        &:hover {
            opacity: 1;
        }

        &:active {
            transition: none;
            opacity: 1;
        }
    }

    // MODIFICADORES
    &--dashboard {
        border-top: 0;
        background-color: unset;

        &::before {
            border-top: 0;
        }
    }
}

.section {
    @include background-color(1, white);
    color: var(--text-color);
    flex-grow: 1;

    &__title {
        --icon-size: 20px;
        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);
        --icon-color: orange;

        margin: 0;

        font: {
            size: 1.5rem;
        }

        @media screen and (max-width: 550px) {
            font-size: 1.1rem;
        }

        &--center {
            text-align: center;
        }

        &--login {
            margin-bottom: 30px;
            font-size: 1.1rem;
        }

        &--file {
            text-align: center;
            text-transform: uppercase;
            color: orange;
            background-color: $background;
            padding-top: 15px;
            padding-bottom: 15px;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    &__inner {
        margin: 0 auto;
        max-width: $max-width;
        padding: 20px;

        &--login {
            margin-top: 30px;
            max-width: 500px;
        }

        &--file {
            max-width: $max-width;
            margin: 0 auto;
        }
    }

    &__logo {
        --icon-size: 100px;
        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);
        --icon-color: var(--text-color);

        display: flex;
        align-items: center;
        justify-content: center;

        &--login {
            padding-top: 40px;
            padding-bottom: 20px;
        }
    }

    &__column {
        position: relative;

        &--sidebar {
            --icon-color: #{rgba(white, 0.6)};
            --icon-size: 20px;
            --icon-width: var(--icon-size);
            --icon-height: var(--icon-size);
            border-right: 0;
            min-width: 300px;

            @media screen and (max-width: 750px) {
                min-width: unset;
            }
        }

        &--content {
            flex-grow: 1;
            padding: 0;
            display: flex;
            border-radius: 30px 0 0 30px;
        }
    }

    &--dashboard {
        display: flex;
        background-color: transparent;

        @media screen and (max-width: 750px) {
            flex-direction: column;
        }
    }

    &--file {
        overflow: hidden;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

.sidebar {
    overflow: auto;
    position: relative;

    svg {
        transform: rotate(180deg);
    }

    &__title {
        margin: 0;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 10px;
        gap: 5px;
        position: sticky;
        top: 0;
        background-color: color.adjust($color: $secondary-color, $lightness: 4%);
        // border: 1px solid rgba($border-color, 0.3);
        z-index: 1;
        height: 45px;
        border-radius: 0 0 30px 0;
        margin-bottom: 20px;

        font: {
            weight: 500;
            size: 1.1rem;
        }

        @media screen and (max-width: 750px) {
            border-radius: 0;
            background-color: $background;
            border: 0;
        }
    }

    & {
        --top: 0;

        @media screen and (max-width: 750px) {
            display: none;
            position: absolute;
            margin: auto;
            left: 0;
            right: auto;
            top: var(--top);
            bottom: 0;
            z-index: 20;
            overflow: auto;
            background-color: $background;
            width: 100%;
            max-width: 300px;

            &[data-open='true'] {
                animation: fade-in 300ms ease forwards;
                display: block;
            }
        }

        @media screen and (min-width: 301px) and (max-width: 750px) {}
    }

    &__content {
        padding-right: 30px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;

        @media screen and (max-width: 750px) {
            padding-right: 0;
        }
    }
}

.dropzone {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    color: var(--text-color);

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        margin: auto;
        left: 0;
        right: auto;
        top: auto;
        bottom: 0;
        height: 20px;
    }

    &::before {
        width: 0;
        background-color: var(--backgrond);
        color: var(--text-color);
        z-index: 0;
        pointer-events: none;
        user-select: none;
        z-index: 1;
        transition: none;
    }

    &::after {
        left: 0;
        right: 0;
        width: 100%;
        opacity: 0;
    }

    &__header {
        height: auto;
        overflow: hidden;
        margin-bottom: 10px;
    }

    &__content,
    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-grow: 1;
        padding: 5px;
        position: relative;
    }

    &__content {
        padding-bottom: 20px;
        flex-direction: column;

        p {
            margin: 0 auto;
            margin-top: 10px;
            max-width: 600px;
            text-align: center;

            font: {
                weight: 400;
            }
        }
    }

    &__title {
        --icon-color: var(--text-color);
        --icon-size: 150px;
        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);
        color: var(--icon-color);
        margin: 0;
        text-transform: uppercase;
        animation: 350ms ease 50ms fade-in forwards;
        opacity: 0;

        font: {
            weight: 400;
        }

        svg {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        span {
            display: block;
            text-align: center;
            margin-top: 20px;
        }
    }

    &__subtitle {
        margin: 0;
        text-align: center;
        color: var(--text-color);
        margin-top: 10px;

        font: {
            weight: 400;
        }
    }

    &--copying {
        $color: color.adjust($color: $base-color, $saturation: 50%, $lightness: -5%);
        $color: #0f0;

        &::before {
            width: var(--progress);
            background-color: $color;
            transition: 300ms ease;
        }
    }

    &--success {
        background-color: $dropzone-color;
    }

    &--dragenter {
        &::after {
            content: attr(data-title);
            -moz-backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            width: 100%;
            height: 100%;
            background-color: rgba($secondary-color, 0.9);
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1.5px dashed rgba(white, 0.3);
            transition: 300ms ease opacity;
            opacity: 1;

            font: {
                size: 1.5rem;
                family: "Roboto Condensed", "Roboto", "Open Sans", sans-serif, arial;
                weight: 400;
            }

            text-transform: uppercase;
            text-shadow: 2px 2px 2px $secondary-color;

            @media screen and (max-width: 600px) {
                font-size: 1rem;
            }
        }

        &>* {
            pointer-events: none;
            user-select: none;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;

        @media screen and (max-width: 400px) {
            grid-template-columns: 1fr;
        }
    }

    &__inner {
        position: relative;
        width: 100%;
        z-index: 1;
        pointer-events: none;
        user-select: none;

        button {
            pointer-events: all;
        }
    }

    &__info {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background-color: rgba(black, 0.5);
        pointer-events: none;
        opacity: 0;
        -moz-backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        transition: 300ms ease;

        &--loading {
            pointer-events: all;
            opacity: 1;
        }
    }

    &__progress {
        text-align: center;

        font: {
            weight: bold;
            size: 1.5rem;
        }
    }
}

.modal {
    &-container {
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 10000;
        display: flex;
        flex-direction: column;
        background-color: var(--background);

        &__header {
            background-color: var(--background);
            color: var(--text-color);
            display: flex;
            align-items: center;
            padding: 10px 15px;
            position: sticky;
            top: 0;
            z-index: 2;

            @include border($border: 1px, $alpha: 0.1, $direction: "bottom");
        }

        &__title {
            --icon-color: var(--text-color);
            --icon-size: 20px;
            --icon-width: var(--icon-size);
            --icon-height: var(--icon-size);
            gap: 5px;
            margin: 0;
            display: flex;
            align-items: center;
            color: var(--icon-color);
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 10px;

            font: {
                size: 1.2rem;
            }

            @media screen and (max-width: 400px) {
                font: {
                    size: 0.9rem;
                }
            }
        }

        &__content {
            overflow: auto;
            min-height: 100px;
            flex-grow: 1;
            transition: 300ms ease;

            @media screen and (min-width: $max-width) {
                padding: 20px;
            }
        }
    }

    & {
        margin: auto;
        position: relative;
        max-width: $max-width;
        overflow: hidden;
        box-shadow: 2px 2px 0 2px rgba(black, 0.04);
        background-color: var(--background);
        color: var(--text-color);

        @media screen and (min-width: $max-width) {
            border: 1px solid rgba(white, 0.1);
            border-radius: 4px;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid;
    }

    &__content {
        padding: 20px;
        min-height: 100px;
        line-height: 1.5rem;
        background-color: var(--background);
        color: var(--text-color);
    }

    &__footer {
        background-color: $secondary-color;
        border-top: 1px solid rgba(white, 0.1);
        display: flex;
        justify-content: flex-end;
        padding: 10px 15px;
    }
}

.help {
    position: relative;

    font: {
        family: "Roboto Condensed Light", "Roboto Condensed", "Roboto", "Open Sans", sans-serif, arial;
    }

    &__title {
        padding-bottom: 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid rgba(white, 0.1);
    }

    &__subtitle {
        margin-bottom: 0;
    }

    &__list {
        margin-top: 0;
    }

    &__item {
        margin-bottom: 10px;

        strong {
            background-color: rgba(black, 0.1);
        }
    }
}

.content {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    border: 1px solid rgba($border-color, 0.3);
    border-right: 0;
    flex-grow: 1;
    border-radius: 30px 0 0 30px;
    padding: 40px;
    background-color: rgba(orangered, 0.015);
    transition: 300ms ease;
    overflow: auto;

    &__title {
        margin: 0;
    }

    @media screen and (max-width: 750px) {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }

    @media screen and (max-width: 800px) {
        padding: 40px 20px;
    }
}

.nav {
    display: flex;
    align-items: center;
    animation: 600ms ease fadeIn forwards;
}

.icon {
    &-graphic {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.2;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: inherit;
        pointer-events: none;
        --icon-color: #{rgba($base-color, 0.6)};
        --icon-size: 500px;
        --icon-width: var(--icon-size);
        --icon-height: 250px;
        animation: 300ms ease fade-in forwards;
        z-index: 0;

        svg {
            display: block;
            position: relative;
            margin: 0;
        }

        &__title {
            display: block;
            align-items: center;
            justify-content: center;
            margin: 0;
            transition: 300ms ease;
            user-select: none;
            animation: 500ms ease fade-in 70ms forwards;
            opacity: 0;
            text-align: center;

            svg {
                margin: 0 auto;
            }

            --icon-color: white;
            --icon-size: 100px;
            --icon-width: var(--icon-size);
            --icon-height: var(--icon-size);

            font: {
                size: 2.5rem;
                family: "Roboto Condensed", "Roboto", "Open Sans", sans-serif, arial;
                weight: 400;
            }

            span {
                display: block;
                margin-top: 10px;
            }

            & {
                @media screen and (max-width: 600px) {
                    font: {
                        size: 1.5rem;
                    }
                }
            }
        }

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: inherit;
        }

        &__icon {
            display: block;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;
            opacity: 0.01;
            --icon-color: white;
            height: 100%;
            width: 100%;

            svg {
                display: block;
                position: absolute;
                margin: auto;
                min-width: unset !important;
                min-height: unset !important;
                max-width: unset !important;
                max-height: unset !important;
                width: 100%;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: auto;
                transform: translateY(-30%);
            }
        }
    }
}

.table {
    &-container {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 30px 0 0 0;
            overflow: hidden;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 13px;
            padding-right: 10px;
            min-height: 50px;
            background-color: var(--background);

            @media screen and (max-width: 750px) {
                border-radius: 0;
            }
        }

        &__container {
            flex-grow: 1;
            position: relative;
            height: 100%;
        }

        &__content {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            overflow: auto;
        }

        &__footer {
            background-color: var(--background);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 7px 10px;
        }

        &__title {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
            --icon-size: 30px;
            --icon-width: var(--icon-size);
            --icon-height: var(--icon-size);
            --icon-color: black;

            font: {
                weight: 300;
                family: "Roboto Condensed", "Roboto", "Open Sans", sans-serif, arial;
                size: 1.3rem;
            }
        }

        &__buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &__controls {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    & {
        width: 100%;
        border-collapse: collapse;
        background-color: var(--background);
        color: var(--text-color);
        user-select: none;
        animation: 300ms ease fade-in 100ms forwards;
        opacity: 0;
        border-bottom: 2px solid var(--border-color);

        th {
            text-align: center;
            position: relative;
            --icon-color: black;
            padding: 0;
        }

        th,
        td {
            vertical-align: middle;
            white-space: nowrap;
        }

        td {
            border: 1px solid var(--border-color);
            position: relative;

            &::before {
                content: "";
                display: block;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                transition: 300ms ease;
                user-select: none;
                pointer-events: none;
            }

            &:first-of-type {
                border-left: 0;
            }
        }

        tr {
            transition: 300ms ease;

            &:nth-of-type(2n) {
                td {
                    background-color: rgba(black, 0.05);
                }

                th,
                td {
                    &:first-of-type {
                        &::before {
                            background-color: var(--column-color);
                            border-color: var(--column-border-color);
                        }
                    }
                }
            }

            &:hover {
                td {
                    &::before {
                        background-color: var(--background-hover);
                        transition: none;
                    }
                }
            }

            th,
            td {
                &:first-of-type {
                    position: sticky;
                    left: 0;
                    z-index: 5;

                    span {
                        display: block;
                        position: relative;
                        z-index: 2;
                        min-width: 35px;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        margin: auto;
                        left: -1px;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background-color: var(--backgrond-cell);
                        z-index: 1;
                    }
                }
            }

            td {
                &:first-of-type {
                    &::before {
                        border-right: 2px solid var(--column-border-color);
                    }
                }
            }
        }

        col {
            &:nth-of-type(2n) {
                background-color: var(--background);
            }
        }
    }

    thead {
        position: sticky;
        top: 0;
        left: 0;
        background-color: var(--background);
        z-index: 10;

        &::before {
            content: "";
            pointer-events: none;
            user-select: none;
            border-bottom: 1px solid var(--border-color);
            border-top: 1px solid var(--border-color);
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 6;
        }

        th {
            &:not(:first-of-type) {
                border-left: 1px solid var(--column-border-color);
                border-color: var(--border-color);
            }
        }
    }

    tbody {
        tr {
            &:active {
                transform: scale(0.995);
                transition: none;
            }

            td {
                &:first-of-type {
                    background-color: var(--column-color);
                    color: var(--text-column-color);
                }
            }
        }
    }
}

.profile {
    &-container {
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: var(--top);
        bottom: 0;
        padding-right: 15px;
        overflow: auto;
        pointer-events: none;
    }

    & {
        position: relative;
        background-color: var(--background);
        width: 100%;
        max-width: 340px;
        border: 1px solid var(--border-color);
        animation: 300ms ease fade-in forwards;
        border-radius: 20px;
        margin-left: auto;
        margin-right: 0;
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
        pointer-events: all;

        @media screen and (max-width: 340px) {
            margin-left: 10px;
        }
    }

    &__header {
        --icon-size: 100px;
        --icon-color: var(--text-color);
        position: relative;
        margin: 0 auto;
        border-radius: 50%;
        border: 2px solid var(--border-color);
        width: var(--icon-size);
        height: var(--icon-size);
        margin-top: 10px;
        margin-bottom: 10px;
        border-left: 2px solid green;
        border-right: 2px solid red;
        border-top: 2px solid #0080d4;

        img,
        svg {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        img {
            width: 100%;
            height: 100%;
        }

        svg {
            width: 50%;
            height: 50%;
        }
    }

    &__title {
        text-align: center;
        margin: 0;
        height: 40px;
        border-color: var(--border-color);

        font: {
            size: 1.1rem;
        }

        padding-top: 5px;
    }

    &__content {
        padding: 0 30px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__links {
        text-align: center;
        padding: 10px;
    }

    &__link {
        color: rgba(white, 0.8);
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;

        &>* {
            pointer-events: none;
            user-select: none;
        }
    }
}

.paginate {
    display: flex;

    &__info {
        display: flex;
        align-items: center;
        padding-right: 5px;
    }
}

.windows {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--background);
    color: var(--text-color);
    z-index: 1000;
    animation: 300ms ease fade-in forwards;

    &__header {
        position: relative;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 70px;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--background);
        color: var(--text-color);
    }

    &__content {
        flex-grow: 1;
        width: 100%;
        max-width: unset;
        border-radius: 0;
        display: flex;
        flex-direction: column;
    }

    &__upload,
    &__table,
    &__content {
        position: relative;
    }

    &__table {
        flex-grow: 1;
    }
}

.watermark {
    --icon-color: var(--watermark-color);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    user-select: none;

    svg {
        width: 100%;
        height: 100%;
    }
}