@use "./vars" as *;

.social {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    padding-left: 0;

    svg {
        display: block;
    }
    
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(white, 0.1);
    }
}