@use "./vars" as *;

.social {
    --icon-size: 100px;
    --icon-width: var(--icon-size),
    --icon-height: var(--icon-size);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
    list-style: none;
    padding-left: 0;

    &--nav {
        --icon-size: 17px;
        --icon-height: var(--icon-size);
        --icon-width: var(--icon-size);

        grid-template-columns: repeat(8, 35px);
    }

    svg {
        display: block;
    }

    &__item {
        display: flex;
        justify-content: center;
        aspect-ratio: 1/1;
        border-radius: 5px;
    }

    &__link {
        transition: 300ms ease;
        border: 1px solid transparent;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

        &:hover {
            transition: none;
            border-color: rgba(white, 0.15);
        }

        &[data-youtube] {
            --icon-color: red;
        }
    }
}